<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../assets/favicon.ico">
    <link href="../../dist/output.css" rel="stylesheet">
    <title>Nike promo page. Tutorial.</title>
</head>
<body>
    <header class='padding-x py-8 absolute z-10 w-full'>
        <nav class='flex justify-between items-center max-container'>
          <a href='/'>
            <img
              src="../assets/images/header-logo.svg"
              alt='logo'
              width="129"
              height="29"
              class='m-0 w-[129px] h-[29px]'
            />
          </a>
          <ul class='flex-1 flex justify-center items-center gap-16 max-lg:hidden'>
              <li key="Home">
                <a
                  href="../main.html"
                  class='font-montserrat leading-normal text-lg text-slate-gray'
                >
                  Home
                </a>
              </li>
              <li key="About us">
                <a
                  href="../about-us.html"
                  class='font-montserrat leading-normal text-lg text-slate-gray'
                >
                  "About us"
                </a>
              </li>
              <li key="Products">
                <a
                  href="../products.html"
                  class='font-montserrat leading-normal text-lg text-slate-gray'
                >
                  Products
                </a>
              </li>
              <li key="Contact us">
                <a
                  href="../contact-us.html"
                  class='font-montserrat leading-normal text-lg text-slate-gray'
                >
                  "Contact us"
                </a>
              </li>
          </ul>
          <div class='flex gap-2 text-lg leading-normal font-medium font-montserrat max-lg:hidden wide:mr-24'>
            <a href='/'>Sign in</a>
            <span>/</span>
            <a href='/'>Explore now</a>
          </div>
          <div class='hidden max-lg:block'>
            <img src="../assets/icons/hamburger.svg" alt='hamburger icon' width="25" height="25" />
          </div>
        </nav>
      </header>
</body>
</html>